body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

a { color: #2660A4 }

.container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
    align-items: flex-start;
  height: 80vh;
  margin: 20px;
  padding: 0 20px;
  text-align: right;
}

.container .box {
  flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  align-items: center;
}

.container .box .h2 {
  margin-bottom: 30px;
}

.container input[type="text"], input[type="password"] {
  padding: 5px 10px;
  border: 1px solid #206252;
  border-radius: 5px;
}

.container td {
  padding: 5px 25px 5px 0;
  vertical-align: middle;
}

.main-header {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
    align-items: flex-end;
    justify-content: center;
  height: 80vh;
  margin-right: 20px;
  padding: 0 20px;
  text-align: right;
}

.main-header h1 {
  font-size: 48px;
  margin-bottom: 10px;
}

.main-header p {
  color: #555;
  font-size: 20px;
  margin-top: 0;
  padding-top: 0;
}

.login-button {
  background-color: transparent;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  margin-right: 10px;
  outline: 1px solid white;
  padding: 10px 20px;
}

.login-button a {
  color: inherit;
  text-decoration: none;
}

.login-button:hover {
  background-color: white;
  color: #206252;
  transition: background-color 0.2s ease;
}

.navbar {
  background-color: #206252;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.navbar button {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 2px;
  margin-right: 10px;
}

.navbar .logo {
  height: 30px;
  margin-left: 10px;
  margin-top: 3px;
}

.top-button {
  background-color: #206252;
  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.top-button a {
  color: inherit;
  text-decoration: none;
}

.top-button:hover {
  background-color: #3CB99A;
  transition: background-color 0.2s ease;
}

.signup-button {
  background-color: #206252;
  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.signup-button a {
  color: inherit;
  text-decoration: none;
}

.signup-button:hover {
  background-color: #3CB99A;
  transition: background-color 0.2s ease;
}