<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='squawk_admin.css') }}" />
    <title>Squawk Admin Dashboard</title>
  </head>
  <body>
    <div class="navbar">
      <img src="{{ url_for('static', filename='img/squawk_long.png') }}" alt="Squawk Logo" class="logo">
    </div>
    <div class="container">
      <div class="box">
        <h2>Squawk User Home</h2>
        <a href="{{url_for('home')}}"><button class="bordered-button">Go</button></a>
      </div>
      <div class="box">
        <h2>Event Dashboard</h2>
        <a href="{{url_for('dashboard')}}"><button class="bordered-button">Go</button></a>
      </div>
    </div>
</html>