<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='squawk_basic.css') }}" />
    <title> New Squawk </title>
</head>
<body>
  <div class="navbar">
    <a href="{{url_for('home')}}"><img src="{{ url_for('static', filename='img/squawk_long.png') }}" alt="Squawk Logo" class="logo"></a>
    <a href="{{ url_for('user', user_id=user_id) }}"><button class="login-button">My Profile</button></a>
  </div>
  <div class="container">
    <form action="{{url_for('comment', is_reply_to=is_reply_to)}}" method="POST">
      <table>
        <tr>
          <td><input id="content" type="text" style="height: 120px; vertical-align: top; width: 200px;" placeholder="Your Squawk" name="content"></td>
        </tr>
        <tr><td></td></tr>
        <tr>
          <td><input type="submit" value="Post Squawk"></td>
          <td><input type="reset" value="Discard"></td>
        </tr>
      </table>
    </form>
  </div>
</body>