<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='squawk_dash.css') }}" />
    <title>Squawk Admin  |  Event Dashboard</title>
  </head>
  <body>
    <div class="navbar">
      <img src="{{ url_for('static', filename='img/squawk_ad_long.png') }}" alt="Squawk Logo" class="logo">
    </div>
    <div class="container">
      <div class="box">
        <h4>User With Most Actions:</h4>
        <h2>Lorem ipsum</h2>
      </div>
      <div class="box">
        <h4>Most Commented Squawk:</h4>
        <h2>Lorem ipsum</h2>
      </div>
      <div class="box">
        <h4>Amount of Users on App:</h4>
        <h2>Lorem ipsum</h2>
      </div>
    </div>
  </body>
</html>